.special__content {
    padding: 92px 0 130px;
    text-align: center;
}
.special__content-title {
    margin-bottom: 40px;
}
.special__content-paragraph {
    font-size: 19px;
    line-height: 33px;
}
.special__ring {
    max-width: 50px;
    margin: 0 auto;
}
.special__ring-img {
    width: 100%;
    height: 100%;
}